@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Fredoka+One&display=swap');

body {
    background-color: #dfe6ff;
}

h1 {    
    margin: 50px 10px;
    font-family: Fredoka One;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    min-height: 50px;
    position: relative;
    z-index: 2;
}

.todo-list-container {
    font-family:Fredoka One;
    min-height: 80vh;
    max-width: 100vh;
    padding: 30px;
    text-align: center;
    z-index: 1;
    position: relative;
}

.todo-form {
    margin-bottom: 30px;
}

.todo-form>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.todo-form>div>input:focus {
    border-bottom: 2px solid black;
    outline: none;
}

.new-todo-item {
    font-family: Fredoka One;
    border: none;
    background-color: #dfe6ff;
    border-bottom: 2px solid #757575;
    height: 40px;
    width: 150px;
    background: transparent;
}

.button {
    border: none;
    background-color: #dfe6ff;
}

.fa-square-plus {
    color: #5580f2;
    cursor: pointer;
}

.fa-square-plus:hover {
    color: #476ed8;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    min-height: 40px;
    margin-bottom: 4px;
}

.todo-list__item__text {
    font-size: 14px;
    margin-left: 20px;
    text-align: left;
}

.todo-list__item__icons {
    margin-right: 8px;
    display: flex;
    flex-wrap: nowrap;
}

.fa-square-check {
    color: #41c49a;
    margin-right: 8px;
    cursor: pointer;
}

.fa-square-check:hover {
    color: #36a582;
}

.fa-square-xmark {
    color: #fc756a;
    cursor: pointer;
}

.fa-square-xmark:hover {
    color: #e4665a;
}

.side-image {
    width: 200px;
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 0;
}

.checked {
    text-decoration: line-through;
    color: #929292;
}

.checkedIcon {
    color: grey;
}

@media (min-width: 644px) {
    .side-image {
        top: 72px;
    }
}

@media (min-width: 768px) {
    .side-image {
        width: 30%;
    }
    h1 {    
        text-align: left;
        margin-left: 30px;
    }
}

@media (min-width: 1080px) {
    .side-image {
        width: 35%;
    }
    .todo-list-container {
        padding: 60px;
    }
    h1 {    
        text-align: left;
        font-size: 30px;
        margin-left: 60px;
    }

    .new-todo-item {
        width: 200px;
    }
}
